.container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
}

.item {
    flex:1;
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}

.row {
    flex-direction: row;
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}
.column-reverse {
    flex-direction: column-reverse;
}