* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.child {
    width: 20%;
    height: 200px;
    background: red;
    border: 1px solid black;
}