.item {
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.titulo {
    text-align: -webkit-center;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-item-1 {
    flex: 1;
}